:is(button, .button) {
	position: relative;

	height: 37px;
	padding: 0 30px;
	border: none;
	border-radius: 2px;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	white-space: nowrap;

	background: #5b89b8;
	text-transform: uppercase;
	color: white;
	cursor: pointer;

	transition: color 0.25s ease,
		background-color 0.25s ease,
		width 0.5s ease,
		padding-left 0.5s ease,
		padding-right 0.5s ease,
		margin-left 0.5s ease,
		margin-right 0.5s ease;

}

:is(button, .button).hiding {
	width: 0;
	padding: 0;
	margin: 0 !important;
}

:is(button, .button):not(:disabled):hover {
	background: #749dc7;
}

:is(button, .button).small {
	width: 37px;
	padding: 0;
}

:is(button, .button):disabled {
	background: #5b89b888;
	cursor: not-allowed;
}

:is(button, .button).info {
	background: #F0F0F0;
	color: black;
}

:is(button, .button):disabled.info {
	background: #F0F0F088;
	color: #888;
}

:is(button, .button).info:hover {
	background: #E8E8E8;
}

:is(button, .button).danger {
	background: #FF0000;
}

:is(button, .button):disabled.danger {
	background: #FF000088;
}

:is(button, .button).danger:hover {
	background: #FF6060;
}