:is(button, .button) {
	width: 180px;
	height: 37px;
	background: #5b89b8;
	border: none;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

:is(button, .button):not(:disabled):hover {
	background: #749dc7;
}

:is(button, .button).small {
	width: 37px;
}

:is(button, .button):disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

:is(button, .button).info {
	background: #F0F0F0;
	color: black;
}

:is(button, .button).info:hover {
	background: #E8E8E8;
}