* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #CCC;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	max-width: 1200px;
	margin: auto;
	padding: 32px;

	background: #F8F8F8;
}

#wiki-table {
	border-collapse: collapse;
}

#wiki-table td.cell-size,
#wiki-table td.cell-memory {
	font-family: monospace;
}

#wiki-table th {
	text-align: left;
}

#wiki-table th,
#wiki-table td {
	padding: 4px 8px;
	text-align: left;
}

#wiki-table tr:hover td {
	background: #F0F0F0;
}

#wiki-table tr[data-status="online"] td {
	background: #CFC;
}

#wiki-table tr:not(:last-child) td {
	border-bottom: 1px solid #888;
}

#wiki-table .spinner {
	width: 16px;
	height: 16px;
}

#wiki-table .spinner:after {
	width: 16px;
	height: 16px;
	margin: 2px;
	border-width: 1.5px;
}

.form-row {
	padding-bottom: 10px;
}

.form-row label {
	font-weight: bold;
	width: 180px;
	display: inline-block;
}

.muted {
	opacity: 0.6;
	font-size: 75%;
}