#modals {
	display: none;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	min-height: 100%;

	padding-top: 50px;
	padding-bottom: 50px;

	justify-content: center;
	align-items: center;
}

#modals.visible {
	display: flex;
}

#modal-background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: #CCCCCCAA;
}

.modal {
	display: none;

	padding: 20px;
	min-width: 60%;

	background: white;
	border-radius: 20px;

	z-index: 1;
}

.modal th {
	text-align: left;
}

.modal.visible {
	display: block;
}

.modal header {
	font-size: 2.5em;
	font-weight: 100;
	margin-bottom: 20px;
	text-align: center;
}

.modal-actions {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 20px;
}

.modal-close {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.modal-containers {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 20px;
}

.modal-backup-row {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 5px;
}

.modal-backup-row .backup-name {
	font-family: monospace;
}

.log-container {
	background: white;
	padding: 5px;
	margin-bottom: 20px;
	height: 60vh;
	overflow-y: scroll;
	border: 1px solid #888;
}

.log-container p,
.log-container header,
.log-container span,
.log-container strong,
.log-container pre {
	white-space: pre;
	font-family: monospace;
	margin: 0;
}

.log-container header {
	font-size: 1.2em;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.log-container header.success {
	background: #88FF88;
	padding: 20px;
}

.log-container header.error {
	background: #FF8888;
	padding: 20px;
}

.log-container hr {
	margin: 20px 0;
}


.modal form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0;
}