#modals {
	display: none;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	min-height: 100%;

	padding-top: 50px;
	padding-bottom: 50px;

	justify-content: center;
	align-items: center;
}

#modals.visible {
	display: flex;
}

#modal-background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: #CCCCCCAA;
}

.modal {
	display: none;

	padding: 20px;
	min-width: 60%;

	background: #F8F8F8;
	border-radius: 20px;

	z-index: 1;
}

.modal th {
	text-align: left;
}

.modal.visible {
	display: block;
}

.modal header {
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.modal-actions {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.modal-close {
	text-align: center;
}

.modal-containers {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.modal-backup-row {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 5px;
}

.modal-backup-row .backup-name {
	font-family: monospace;
}