#scheduler-table {
	border-collapse: collapse;
}

#scheduler-table td.cell-size,
#scheduler-table td.cell-memory {
	font-family: monospace;
}

#scheduler-table th {
	text-align: left;
}

#scheduler-table th,
#scheduler-table td {
	padding: 4px 8px;
	text-align: left;
}

#scheduler-table tr:hover td {
	background: #F0F0F0;
}

#scheduler-table tr[data-status="online"] td {
	background: #CFC;
}

#scheduler-table tr[data-status="offline"] td {
	background: #FAA;
}

#scheduler-table tr:not(:last-child) td {
	border-bottom: 1px solid #888;
}

#scheduler-table .cell-actions>div {
	display: flex;
	gap: 5px;
}