#wiki-table td.cell-size,
#wiki-table td.cell-memory {
	font-family: monospace;
}

#wiki-table tr[data-status="online"] td {
	background: #CFC;
}

#wiki-table tr[data-status="offline"] td {
	background: #FCC;
}